{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="title"><h1>{{ object.title }}</h1></div>
<div class="details">
    <img class="detail-image" src="{{ object.image.url }}">
    <div class="text-area">
        <p>{{ object.content }}</p>
    </div>
    <div class="detail-btn-area">
        {% if user.id == object.user.id %}
        <a class="edit-btn" href="{% url 'memory_update' object.pk %}">編集</a>
        <a class="delete-btn" href="{% url 'memory_delete' object.pk %}">削除</a>
        {% endif %}
    </div>
    <div class="comment-area">
        <p class="comment-title">コメント一覧</p>
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'comment_create' object.id %}">
        {% csrf_token %}
            <input type="text" name="comment" maxlength="40" required>
            <button type="submit">送信</button>
        </form>
        {% else %}
        <p>ログインしたユーザーのみコメントの投稿ができます</p>
        {% endif %}
        <ul class="comments">
            {% for comment in object_list %}
            <li>
                {{ comment.comment }}<span class="comment-by">{{ comment.user.username }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}