.title{
    border-bottom: solid 1px black;
    display: flex;
    justify-content: center;
}

table{
    margin: 20px auto;
}

.errorlist li{
    list-style: none;
    color: red;
}

.submit-btn{
    text-align: center;
}

.submit-btn button{
    display: inline-block;
    padding: 0.3em 1em;
    font-size: 0.8em;
    text-decoration: none;
    color: #fff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    background-color: #67c5ff;
}
